In [385]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [386]:
pwd

u'/Users/camilogarciatorres/Documents/GitHub/Taller1'

In [387]:
base_dir = os.path.join( '.','data')
ciudad = 'Medellin'
fuente = 'NREL'
union = os.path.join(base_dir,ciudad,fuente+'.csv')
serieREL= pd.read_csv(union, sep = ';',
                encoding='latin-1')

base_dir2 = os.path.join( '.','data')
ciudad2 = 'Medellin'
fuente2 = 'IDEAM'
union2 = os.path.join(base_dir,ciudad,fuente+'.csv')
serieIDEAM= pd.read_csv(union2, sep = ';',
                encoding='latin-1')

In [388]:
def MCP(mediax, mediay, sigmax, sigmay, x):
    return ((mediay-(sigmay/sigmax)*mediax)+(sigmay/sigmax)*x)

In [389]:
serieIDEAM.head()

    Aﾃ前  MES  DIA  HORA  NREL
0  2005    1    1     0   0.0
1  2005    1    1     1   0.0
2  2005    1    1     2   0.0
3  2005    1    1     3   0.0
4  2005    1    1     4   0.0

In [390]:
mediay=serieREL['NREL'].mean()
sigmay=serieREL['NREL'].std()

In [391]:
for year in (2005,2006):
     for mes in (1,13):
            for dia in(1,31):
                dia=serieIDEAM[1:dia]

In [392]:
serieIDEAM.dtypes

Aﾃ前       int64
MES       int64
DIA       int64
HORA      int64
NREL    float64
dtype: object

In [393]:
def listaajustada(obj, referencia)
 listafinal=[]
    

 return

     Aﾃ前  MES  DIA  HORA   NREL
1   2005    1    1     1    0.0
2   2005    1    1     2    0.0
3   2005    1    1     3    0.0
4   2005    1    1     4    0.0
5   2005    1    1     5    0.0
6   2005    1    1     6   12.5
7   2005    1    1     7  103.5
8   2005    1    1     8  209.5
9   2005    1    1     9  478.0
10  2005    1    1    10  806.0
11  2005    1    1    11  787.5
12  2005    1    1    12  821.0
13  2005    1    1    13  792.5
14  2005    1    1    14  679.0
15  2005    1    1    15  573.5
16  2005    1    1    16  347.0
17  2005    1    1    17  121.0
18  2005    1    1    18    0.0
19  2005    1    1    19    0.0
20  2005    1    1    20    0.0
21  2005    1    1    21    0.0
22  2005    1    1    22    0.0
23  2005    1    1    23    0.0
24  2005    1    2     0    0.0
25  2005    1    2     1    0.0
26  2005    1    2     2    0.0
27  2005    1    2     3    0.0
28  2005    1    2     4    0.0
29  2005    1    2     5    0.0
30  2005    1    2     6   12.0

KeyError: 'A\xc3\x91O'