In [65]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [66]:
pwd

u'/Users/camilogarciatorres/Documents/GitHub/Taller1'

In [67]:
base_dir = os.path.join( '.','data')
ciudad = 'Medellin'
fuente = 'IDEAM'
union = os.path.join(base_dir,ciudad,fuente+'.csv')
serieIDEAM= pd.read_csv(union, sep = ';',
                encoding='latin-1')

base_dir2 = os.path.join( '.','data')
ciudad2 = 'Medellin'
fuente2 = 'IDEAM'
union2 = os.path.join(base_dir,ciudad,fuente+'.csv')
serieREAL= []

In [68]:
def MCP(mediax, mediay, sigmax, sigmay, x):
    return ((mediay-(sigmay/sigmax)*mediax)+(sigmay/sigmax)*x)

In [69]:
serieIDEAM.describe()

                AÑO           MES           DIA          HORA         IDEAM
count  87648.000000  87648.000000  87648.000000  87648.000000  87648.000000
mean    2010.499726      6.523549     15.727820     11.500000    183.506077
std        2.871916      3.448553      8.799375      6.922226    261.509406
min     2006.000000      1.000000      1.000000      0.000000      0.000000
25%     2008.000000      4.000000      8.000000      5.750000      0.000000
50%     2010.500000      7.000000     16.000000     11.500000      2.010859
75%     2013.000000     10.000000     23.000000     17.250000    341.067530
max     2015.000000     12.000000     31.000000     23.000000   1205.992867

In [70]:
mediay=serieIDEAM['IDEAM'].mean()
sigmay=serieIDEAM['IDEAM'].std()